.messageList {
    height:650px;
    width:200px;
    font:16px/26px Georgia, Garamond, Serif;
    overflow:auto;
}

.messagesContainer {
    border: gray 2px solid;
    background-color: yellow;
}

.messageUsername {
    color: rgb(0, 72, 255);
    font-size: 20px;
}

.messageAuthor {
    font-size: 20px;
}

.messageUsername:hover {
    color: #1ddc00;
    text-decoration: underline;
}
