.taskList {
  display: flex;
}

.tasksContainer {
  margin-bottom: 20px;
}

.taskForm__form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.taskForm {
  margin-bottom: 5px;
}

.deleteTaskBtn {
  margin-left: 10px;
}

.saveTaskBtn {
  float: right;
}

.addNewTaskBtn {
  float: right;
}